•⁠  ⁠{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #c9e0de;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #cff3d3;
    padding: 20px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 15px;
}

header h1 {
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #e4c79b;
    color: #fff;
}

.buscador {
    background-color: #d3eddc;
    padding: 40px;
    margin: 10px auto;
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 4%;
}

.buscador h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}


.buscador form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
}

.buscador button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #013f18;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buscador button[type="submit"]:hover {
    background-color: #e4c79b;
}

footer {
    background-color: #013f18;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}