* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #c9e0de;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #cff3d3;
  padding: 20px;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 15px;
}

header h1 {
  font-size: 2em;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #e4c79b;
  color: #fff;
}

.register-form {
  background-color: #d3eddc;
  padding: 50px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
}

.register-form h2 {
  margin-bottom: 20px;
  color: #000000;
}

.register-form form {
  display: flex;
  flex-direction: column;
}

.register-form label {
  margin-bottom: 5px;
  color: #000000;
  text-align: left;
}

.register-form input,
.register-form select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-form button {
  padding: 10px;
  background-color: #5adbac;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-form button:hover {
  background-color: #45aeb1;
}

footer {
  background-color: #013f18;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}
