{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cerrando Sesion</title>

    <link rel="stylesheet" href="{% static 'css/logout.css' %}" />
    <link
      rel="icon"
      href="{% static 'images/Icono_SmarFood.png' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="logo-container">
        <a href="{% url 'main:core' %}">
          <img
              src="{% static 'images/Icono_SmarFood.png' %}"
              alt="Logo de Nutrición Saludable"
              class="logo"
          />
      </a>      
        <h1>Nutrición Saludable</h1>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
        </ul>
      </nav>
    </header>

    <section class="Cerrando">
      <h3>Desconectado</h3>
      <br />
      <p>Ha sido desconectado exitosamente.</p>
      <br />
      <p>Puedes iniciar sesión nuevamente.</p>
    </section>

    <footer>
      <p>&copy; 2024 Nutrición Saludable. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
