{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Cuenta</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <link
      rel="icon"
      href="{% static 'images/Icono_SmarFood.png' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div class="logo-container">
        <img
          src="{% static 'images/Icono_SmarFood.png' %}"
          alt="Logo de Nutrición Saludable"
          class="logo"
        />
        <h1>Nutrición Saludable</h1>
      </div>
    </header>

    <section class="register-form">
      <h2>Crear Cuenta</h2>
      <form method="POST">
        {{user_form.as_p}} {% csrf_token %}
        <button type="submit">Continuar</button>
      </form>
    </section>

    <footer>
      <p>&copy; 2024 Nutrición Saludable. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
